useDynLib(arulesCBA)

import("discretization")
import("arules")
import("Matrix")
import("testthat")
import("glmnet")

importFrom("methods", "as", "is", "new", "slot<-", "slotNames")
importFrom("stats", "as.formula", "df")

export("CBA",
       "pruneCBA_M1",
       "pruneCBA_M2",
       "RCAR",
       "rules",
       "CBA_ruleset",
       "bCBA",
       "wCBA",
       "discretizeDF.supervised",
       "mineCARs",
       "classFrequency"
       )

S3method(predict, CBA)
S3method(print, CBA)
S3method(rules, CBA)
