useDynLib(arulesCBA)

import("arules")
import("Matrix")
import("caret")
import("testthat")

importFrom("methods", "as", "is", "new")
importFrom("stats", "as.formula")

S3method(predict, CBA)
S3method(print, CBA)

export("CBA", "rules", "CBA_ruleset", "bCBA", "wCBA")
